*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hefo{
    height: 15vh;
    text-align: center;
    color: black;
    background-color: red;

}
section{
 height: 70vh;
 display: flex;
 flex-direction: row;
}
.na{
    text-align: center;
    color: black;
    background-color: rgb(179, 184, 138);
    display: inline-block;
    width: 25%;
    height: 100%;
}
.ar{
    text-align: center;
    color: black;
    background-color: rgb(214, 223, 147);
    display: inline-block;
    height: 200px;
    width: 50%;
    height: 100%;

}
.as{
    text-align: center;
    color: black;
    background-color: rgb(205, 219, 101);
    display: inline-block;
    height: 200px;
    width: 25%;
    height: 100%;
}
h1{
    color: white;
    padding: 15px;
}
.font{
    color: black;
    padding: 15px;
    font-size: xx-large;
}

